# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI

on: [push]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

  build:
    name: Hibernate ${{ matrix.mapper }} Build
    needs: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mapper: [last, hibernate-5.4, hibernate-5.2]
    steps:
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify -P ${{ matrix.mapper }}